.page {
  width: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-rows: auto 56px auto 92px auto;
  justify-items: center;
  margin: 28px auto 24px auto;
}

@media screen and (max-width: 1024px) {
  .page {
    grid-template-rows: auto 48px auto 92px auto;
  }
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-rows: auto 48px auto 88px auto;
  }
}

@media screen and (max-width: 425px) {
  .page {
    grid-template-rows: auto 48px auto 64px auto;
    margin: 16px auto 24px auto;
  }
}

