.places {
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 0 24px;
    max-width: 976px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding: 0;
    gap: 50px;
  }
}
